# Arquivos de configuração
appsettings.json
appsettings.*.json

# Build e artefatos de publicação
bin/
obj/
out/

# Diretórios do Visual Studio
.vscode/
.vs/

# Arquivos de log
*.log

# Sistema de controle de pacotes
**/packages/
# Usado pelo NuGet
*.nupkg
*.snupkg
# Arquivos de bloqueio do NuGet e dependências
project.lock.json
project.fragment.lock.json

# Arquivos de usuário do Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Arquivos de Cache, Teste, e temporários
TestResults/
*.tmpproj
*.tmp
*.temp
*.sln.cache

# Configuração do Rider
.idea/

# Arquivos locais do Docker e Compose
docker-compose.override.yml

# Outros arquivos de configuração temporários
*.dbmdl
*.jfm
.DS_Store
